img.card-img-top {
    object-fit: cover;
    cursor: pointer;
    max-height: 40% !important;
    max-width: 40% !important;
    margin-left: 5%;
}

img.card-img-top.girar {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.app-memorama {
    width: 90%;
    height: 45%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 1em 1em 1em 1em;
}
.app-memorama img {
    border-radius: solid 5px gray;
    width: 500% !important;
}
a *{
    text-decoration: none !important;
}